{% extends 'layout/base.html' %}
{% block content %}
<section class="my-5 hero">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto mb-3">
                <div class="row">
                    {% for item in articles %}
                    <div class="col-md-12 mb-3">
                        <div class="card">
                            <img src="{{item.image.url}}" alt="{{item.title}}" class="card-img">
                            <div class="card-body">
                                <h3>{{item.title}}</h3>
                                <p>{{item.created_at.date}}</p>
                            </div>
                            <a href="{% url 'article' item.id %}" class="btn m-1 btn-outline-dark">Read</a>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}