<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/register.css">
</head>
<body>
  <video id="bgVideo" autoplay muted loop>
    <source src="https://player.vimeo.com/progressive_redirect/playback/371600214/rendition/360p/file.mp4?loc=external&oauth2_token_id=1747418641&signature=b29d2a771a8db2c0534c6f84cbabf09cda3c8a6b97ea0011deea468531ea528f" type="video/mp4">
    <!-- Include additional sources for other video formats -->
    <!-- <source src="your-video-file.webm" type="video/webm"> -->
    <!-- <source src="your-video-file.ogg" type="video/ogg"> -->
    Your browser does not support the video tag.
  </video>
 <form action="">
   <div class="container">
    <h3>Register here</h3>
    <label for="">Username</label> 
    <input type="Username" placeholder="...Create Username" name="username"/>
    <label for="">Email</label> 
    <input type="email" placeholder="...Enter Email" name="email"/>
    <label for="">🔒Password</label>
    <input type="password" placeholder="...Create password" name="password">
    <button class="btn-login" type="Submit">Register</button>
    <p class="signup">
        Forget your password? <a href="#" class="link">Reset</a>
    </p>
   </div>

 <hr/>
 <a class="btn-external-login"><img src="http://surl.li/rwddw" alt="" /><span>Signup with google</span></a>
 <a class="btn-external-login"><img src="http://surl.li/rwddk" alt="" /><span>Signup with Facebook</span></a>


 
  <script src="login.js"></script>
</form>
</body>
</html>